name: Build and Push Docker Image

on:
  schedule:
    - cron: '0 0 1,15 * *'  # Runs at 00:00 UTC on the 1st and 15th of every month    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set date tag
        id: date_tag
        run: echo "DATE_TAG=$(date +'%Y%m%d')" >> $GITHUB_ENV          

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          push: true
          tags: ${{ secrets.DOCKERHUB_PROJECT_NAME }}:latest,${{ secrets.DOCKERHUB_PROJECT_NAME }}:${{ env.DATE_TAG }}
